a {
    text-decoration: none;
}

.btnDatNgay{
    left: 0;
    bottom: 0;
    /* margin-left: 2rem; */
    /* margin-bottom: 2rem; */
}

.moTaDiaDiem {
    height: 300px;
    text-overflow: ellipsis;
    display: block;
}