a {
    text-decoration: none;
}

.btnDatNgay{
    left: 0;
    bottom: 0;
    /* margin-left: 2rem; */
    /* margin-bottom: 2rem; */
}
.packages .box-container .box .content p {
    height: 200px;
    text-overflow: ellipsis;
    display: block;
}